body {
  color: black;
  font-family: sans-serif;
}

h1 {
  color: #03fcba;
  font-family: sans-serif;
  size: 24pt
}

h2 {
  color: #f578b2;
  font-family: sans-serif;
  size: 18pt;
}

#container {
  margin: 50px 0;
  /* background-color: blue; */
}

.txt {
  color: red;
}


